{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.min.js"></script>
    <script src="/js/artist.js"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('adminAddSong') }}" class="btn btn-success pull-right btn-sm"><i class="fa fa-music"></i>
                Add Songs</a>
        </div>
    </div>
    <form id="form-edit-artist"
              role="form"
              action="{{ path('adminEditArtist', {artistId : artist.artistId}) }}"
              method="post"
              enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Artist Name</label>
                    {{ form_widget(form.name,  { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <label>Artist Id</label>
                    {{ form_widget(form.artistId, { 'attr': {'class': 'form-control', 'disabled' : true} }) }}
                </div>
                <div class="form-group">
                    <label>About</label>
                    {{ form_widget(form.about, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <label>Image</label>
                    {{ form_widget(form.imageFile, { 'attr': {'class': 'form-control'},  'required' : false }) }}
                </div>
                <div>
                    {% if artist and artist.image %}
                        <img src="{{ artist.image }}">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Banner</label>
                    {{ form_widget(form.bannerFile, { 'attr': {'class': 'form-control'}, 'required' : false }) }}
                </div>
                <div>
                    {% if artist and artist.banner %}
                        <img width="60%" src="{{ artist.banner }}">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label>Active</label>
                    {{ form_widget(form.active, { 'required' : false }) }}
                </div>
                <div class="form-group">

                </div>


            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Facebook</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-facebook-square"></i>
                        </span>
                        {{ form_widget(form.social.fb, { 'attr': {'class': 'form-control'}}) }}

                    </div>
                </div>
                <div class="form-group">
                    <label>Twitter</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-twitter-square"></i>
                        </span>
                        {{ form_widget(form.social.tw, { 'attr': {'class': 'form-control'}}) }}

                    </div>
                </div>
                <div class="form-group">
                    <label>Google Plus</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-google-plus-square"></i>
                        </span>
                        {{ form_widget(form.social.gl, { 'attr': {'class': 'form-control'}}) }}

                    </div>
                </div>
                <div class="form-group">
                    <label>Pinterest</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-pinterest-square"></i>
                        </span>
                        {{ form_widget(form.social.pn, { 'attr': {'class': 'form-control'}}) }}

                    </div>
                </div>
                <div class="form-group">
                    <label>Instagram</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-instagram"></i>
                        </span>
                        {{ form_widget(form.social.in, { 'attr': {'class': 'form-control'}}) }}

                    </div>
                </div>
            </div>
    </div>
    <button type="submit" class="btn btn-primary" data-loading-text="Saving"><i class="fa fa-save"></i> Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>
    {{ form(form._token) }}
    {{ form_errors(form) }}
    </form>
{% endblock %}