{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="/js/cropper.min.js"></script>
    <script src="/js/songs.js"></script>
{% endblock %}
{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <form id="song-edit-form" role="form" method="post" action="{{ path("adminEditSong", {id: song.id}) }}" enctype="multipart/form-data">
            <div class="panel-body song-edit-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Title</label>
                            {{ form_widget(form.displayName, { "attr" : {'class' : 'form-control', 'placeHolder' : 'Enter Song Title'}}) }}
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            {{ form_widget(form.description, { "attr" : {'class' : 'form-control', 'placeHolder' : 'Enter Song Description'}, 'required' : false }) }}
                        </div>
                        <div class="form-group">
                            <label>Genre</label>
                            {{ form_widget(form.genre, { "attr" : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <label>Tags</label>
                            {{ form_widget(form.tags, { "attr" : {'class' : 'form-control', 'placeHolder' : 'sinhala, kandy, eastern'}}) }}
                        </div>
                        <div class="form-group">
                            <label>Is Published? {{ form_widget(form.published , { "required" : false}) }}</label>

                        </div>

                        <div class="form-group">
                            <label>Song Image <small>(250px X 150px)</small></label>
                            <div class="row">
                                <div class="col-md-6">

                                    <img class="song-image" src="{{ song.image }}" alt="..." class="img-thumbnail">
                                    <a href="#" class="upload-song-image-trigger" title="Change Image" data-target="{{ song.id }}"><i class="fa fa-camera-retro"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">

                        <div class="form-group">
                            <label>Artists</label>
                            <select required="required" name="artistIds[]" class="form-control album-artist-list">
                                {% for artist in song.artists %}
                                    <option value="{{ artist.id }}">{{ artist.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>ISRC</label>
                            {{ form_widget(form.isrc, { "attr" : {'class' : 'form-control', 'placeHolder' : 'EG: LKDD3021'}, 'required' : false }) }}
                        </div>
                        <div class="form-group">
                            <label>Publisher</label>
                            {{ form_widget(form.publisher, { "attr" : {'class' : 'form-control'}, 'required' : false }) }}
                        </div>
                        <div class="form-group">
                            <label>Composer</label>
                            {{ form_widget(form.composer, { "attr" : {'class' : 'form-control'}, 'required' : false }) }}
                        </div>
                        <div class="form-group">
                            <label>Release Date </label>
                            {{ form_widget(form.release, { "attr" : {'class' : 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <label for="basic-url">Buy Link</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon3">http://www.</span>
                                {{ form_widget(form.buyLink, { "attr" : {'class' : 'form-control'}, 'required' : false }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Upload Song</label>
                            <div class="row uploaded-song-wrapper">
                                <div class="col-md-12">
                                    <div class="alert alert-info alert-dismissible" role="alert">
                                        <button type="button" class="close show-upload-area" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <p>Uploaded Song : <a target="_blank" href="{{ song.url }}">{{ song.displayName }}</a></p>
                                    </div>
                                </div>

                            </div>
                            <div class="row upload-song-wrapper {% if song.url   %}hide{% endif %}">
                                <div class="col-md-12">
                                    <input type="file" name="source_file">

                                    OR..<br>
                                    <label>Enter MP3 URL</label>
                                    <input type="text"  class="form-control" name="source_url">
                                </div>
                        </div>

                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
                <div class="col-sm-10" >
                    {{ form_end(form) }}
                    <button type="submit" data-loading-text="Saving.." class="btn btn-primary" >Save</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </div>
            </div>
            </form>
            <!-- /.panel-body -->
        </div>
    </div>

{% endblock %}